<article>
  <% if post.is_public %>
    <h2><a href="/post/<%= post.id %>"><%= post.title %></a></h2>
  <% else %>
    <h2><a href="/post/<%= post.id %>"><%= post.title %></a> <span class="private">(hidden)</span></h2>
  <% end %>
  <div class="post_content">
    <%= raw(post.content) %>
  </div>
  <p class="post_footer">
    <%= post.created_at.strftime("%A, %B %e, %Y") %>
    <% if logged_in %>
      <a href="/edit_post/<%= post.id %>"><%= image_tag "edit.png", :class => "post_footer_icon" %></a>
      <a id="delete_button_<%= post.id %>" class="delete_button" href="#confirm_delete"><%= image_tag "delete.png", :class => "post_footer_icon" %></a>
    <% end %>
    <br />
    Tags:
    <% tags = post.tags %>
    <% if tags.size > 0 %>
      <% for tag in tags.first(tags.size-1) %>
        <a href="/tag/<%= u tag.name %>"><%= tag.name %></a>,
      <% end %>
      <a href="/tag/<%= u tags.last.name %>"><%= tags.last.name %></a>
    <% else %>
      none
    <% end %>
  </p>
  <p>
    comments...
  </p>
</article>