<%
  # locals:
  #   post            boolean
  #   comments_mode   [:comments, :comments_count, nil]
  #   date_mode       [:date, nil]
  #   title_link      boolean
%>

<article>
  <% if title_link %>
    <h2><a href="/post/<%= post.id %>"><%= post.title %><%= if post.is_public then "" else " <span class=\"private\">(hidden)</span>" end %></a></h2>
  <% else %>
    <h2><%= post.title %><%= if post.is_public then "" else " <span class=\"private\">(hidden)</span>" end %></h2>
  <% end %>
  <div class="post_content">
    <%= raw(post.content) %>
  </div>
  <% if date_mode == :date %>
    <p class="post_footer">
      <%= post.created_at.strftime("%A, %B %e, %Y") %>
    </p>
  <% end %>
  <% if comments_mode == :comments %>
    <p>comments...</p>
  <% elsif comments_mode == :comments_count %>
    <p>number of comments...</p>
  <% end %>
</article>