<% content_for :head do %>
  <%= stylesheet_link_tag    "admin" %>
  <%= javascript_include_tag "admin" %>
<% end %>

<% content_for :title, "stephan boyer | admin" %>

<% require 'json' %>

<h2><a href="/admin">Admin Panel</a></h2>
<p><a href="https://www.google.com/analytics/web/?pli=1#report/visitors-overview/a34278795w61806029p63320640/">Google Analytics</a></p>
<p><a href="#" id="logout_button">Log out</a></p>
<%= form_tag("/logout", :method => "post", :class => "hidden", :id => "logout_form") do %>
  <input type="submit" value="Submit" />
<% end %>

<h3>Posts</h3>
<p><a href="#" id="create_post_button">New Post</a></p>
<%= form_tag("/create_post", :method => "post", :class => "hidden", :id => "create_post_form") do %>
  <input type="submit" value="Submit" />
<% end %>
<p>
  <% for post in @posts %>
    <div class="post">
      <div class="post_title"><a href="/post/<%= post.id %>"><%= post.title %></a></div>
      <div class="post_is_public"><%= if post.is_public then "Public" else "Hidden" end %></div>
      <div class="post_modifier"><a class="move_up_button" id="move_up_button_<%= post.id %>" href="#"><%= image_tag "up.png" %></a></div>
      <div class="post_modifier"><a class="move_down_button" id="move_down_button_<%= post.id %>" href="#"><%= image_tag "down.png" %></a></div>
      <div class="post_modifier"><a href="/edit_post/<%= post.id %>"><%= image_tag "edit.png" %></a></div>
      <div class="post_modifier"><a class="delete_button" id="delete_button_<%= post.id %>" href="#confirm_delete"><%= image_tag "delete.png" %></a></div>
      <div class="clear"> </div>
    </div>
  <% end %>
  <% if @posts.size == 0 %>
    There are no posts.
  <% end %>
</p>

<h3>Tags</h3>
<p>
  <% for tag in @tags %>
    <div class="post">
      <div class="pos_title"><a href="/tag/<%= tag.name %>"><%= tag.name %></a></div>
    </div>
  <% end %>
</p>

<div id="confirm_delete">
  <div id="confirm_delete_container">
    <p>Delete <span id="post_name"> </span>?</p>
    <%= form_tag("/delete_post", :method => "post") do %>
      <input type="hidden" name="post_id" class="post_id_field" />
      <p><input type="submit" value="Confirm Delete" id="confirm_delete_button" /></p>
    <% end %>
  </div>
</div>

<div class="hidden">
  <%= form_tag("/move_up", :method => "post", :id => "move_up_form") do %>
    <input type="hidden" name="post_id" class="post_id_field" />
  <% end %>
  <%= form_tag("/move_down", :method => "post", :id => "move_down_form") do %>
    <input type="hidden" name="post_id" class="post_id_field" />
  <% end %>
</div>

<script>
  var posts = <%= raw(@posts.to_json) %>;
</script>
