<% content_for :title, "Admin | Stephan Boyer" %>

<div class="article">
  <h2><a href="<%= @post.canonical_uri -%>"><%= @post.title -%></a></h2>

  <%= form_tag("/edit_post", :method => "post") do %>
    <input type="hidden" name="post_id" value="<%= @post.id %>" />
    <p>
      <input type="text" placeholder="Title" name="post_title" value="<%= @post.title %>" class="full-width" />
    </p>
    <p>
      <textarea placeholder="Content" name="post_content" id="post-content" class="full-width"><%= @post.content %></textarea>
    </p>
    <p>
      <textarea placeholder="JavaScript" name="post_javascript" class="full-width"><%= @post.javascript %></textarea>
    </p>
    <p>
      <textarea placeholder="CSS" name="post_css" class="full-width"><%= @post.css %></textarea>
    </p>
    <p>
      <input type="text" placeholder="Tags separated by comma" name="post_tags" value="<%= @post.tags.map { |tag| tag.name }.join(", ") %>" class="full-width" />
    </p>
    <p>
      <label class="checkbox">
        <input type="checkbox" name="post_is_public" id="post_is_public" <%= if @post.is_public then "checked" else "" end %> />
        Public
      </label>
    </p>
    <p>
      <input type="submit" id="save_button" value="Save Changes" />
    </p>
  <% end %>
</div>