<% content_for :head do %>
  <%= stylesheet_link_tag    "edit_post" %>
  <%= javascript_include_tag "edit_post" %>
<% end %>

<% content_for :title, "Admin | Stephan Boyer" %>

<article>
  <h2><a href="/admin">Admin Panel</a></h2>

  <%= form_tag("/edit_post", :method => "post") do %>
    <input type="hidden" name="post_id" value="<%= @post.id %>" />
    <p>
      <input type="text" placeholder="Title" name="post_title" class="input-xlarge" value="<%= @post.title %>" />
    </p>
    <p>
      <textarea placeholder="Content" name="post_content"><%= @post.content %></textarea>
    </p>
    <p>
      <input type="text" placeholder="Tags" name="post_tags" value="<%= @post.tags.map { |tag| tag.name }.join(", ") %>" />
    </p>
    <p>
      <label class="checkbox">
        <input type="checkbox" name="post_is_public" id="post_is_public" <%= if @post.is_public then "checked" else "" end %> />
        Public
      </label>
    </p>
    <p>
      <button type="submit" id="save_button" class="btn btn-primary" />Save Changes</button>
    </p>
  <% end %>
</article>