<% content_for :head do %>
  <%= stylesheet_link_tag    "index" %>
  <%= javascript_include_tag "index" %>
<% end %>

<% if params[:tag] %>
  <h3 id="tag_filter_heading">Tag filter:&nbsp;&nbsp;<a href="/tag/<%= params[:tag] %>"><%= params[:tag] %></a></h3>
<% end %>

<% for post in @posts %>
  <% if post.visible || @logged_in %>
    <%= render :partial => "post", :locals => { :post => post, :full => false } %>
  <% end %>
<% end %>
<% if @posts.size == 0 %>
  <p>There are no results.</p>
<% end %>