<% content_for :head do %>
  <%= stylesheet_link_tag    "index" %>
  <%= javascript_include_tag "index" %>
<% end %>

<% if @tag_name == "home" %>
  <% content_for :title, "Stephan Boyer" %>
<% else %>
  <% content_for :title, @tag_name.capitalize + " | Stephan Boyer" %>
<% end %>

<% if @tag_name != "home" %>
  <% content_for :nav do %>
    / <a href="/<%= @tag_name %>"><%= @tag_name %></a>
  <% end %>
<% end %>

<div>
  <% no_posts = true %>
  <% for post in @filtered_posts %>
    <% if post.is_public || @logged_in %>
      <%= render :partial => "post", :locals => { :post => post, :previous_post => nil, :next_post => nil, :comments_mode => :count, :date_mode => :date, :title_link => true } %>
      <% no_posts = false %>
    <% end %>
  <% end %>
  <% if no_posts %>
    <article>
      <h2>Sorry, that page doesn&rsquo;t exist.</h2>
      <p>Make sure you typed the URL correctly.</p>
    </article>
  <% end %>
</div>

<% if !no_posts %>
  <div id="pagination_container">
    <div class="pagination">
      <ul>
        <% if @page > 1 %>
          <li><a href="/<%= @tag_name -%>/1">&laquo;</a></li>
        <% else %>
          <li class="disabled"><span>&laquo;</span></li>
        <% end %>
        <% for page in 1..@pages %>
          <% if page == @page %>
            <li class="active"><span><%= page %></span></li>
          <% else %>
            <li><a href="/<%= @tag_name -%>/<%= page -%>"><%= page %></a></li>
          <% end %>
        <% end %>
        <% if @page < @pages %>
          <li><a href="/<%= @tag_name -%>/<%= @pages -%>">&raquo;</a></li>
        <% else %>
          <li class="disabled"><span>&raquo;</span></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>