<% content_for :head do %>
  <%= stylesheet_link_tag    "index" %>
  <%= javascript_include_tag "index" %>
<% end %>

<% if params[:tag] %>
  <h3 id="tag_filter_heading">Tag filter:&nbsp;&nbsp;<a href="/tag/<%= params[:tag] %>"><%= params[:tag] %></a></h3>
<% end %>

<% no_posts = true %>
<% for post in @filtered_posts %>
  <% if post.is_public || @logged_in %>
    <%= render :partial => "post", :locals => { :post => post, :comments_mode => :comments_count, :date_mode => :date, :title_link => true } %>
    <% no_posts = false %>
  <% end %>
<% end %>
<% if no_posts %>
  <p id="no_posts">There are no results.</p>
<% end %>

<div id="confirm_delete">
  <div id="confirm_delete_container">
    <p>Delete <span id="post_name"> </span>?</p>
    <%= form_tag("/delete_post", :method => "post") do %>
      <input type="hidden" name="post_id" id="post_id_field" />
      <p><input type="submit" value="Confirm Delete" id="confirm_delete_button" /></p>
    <% end %>
  </div>
</div>

<script>
  var posts = <%= raw(@filtered_posts.to_json) %>;
</script>