<% content_for :head do %>
  <%= stylesheet_link_tag    "index" %>
  <%= javascript_include_tag "index" %>
<% end %>

<% if @post && (@post.is_public || @logged_in) %>
  <% content_for :title, @post.title + " | Stephan Boyer" %>
<% else %>
  <% content_for :title, "Stephan Boyer" %>
<% end %>

<% if @post && (@post.is_public || @logged_in) %>
  <%= render :partial => "post", :locals => { :post => @post, :comments_mode => :comments, :date_mode => :date, :title_link => true } %>
<% else %>
  <article>
    <h2>Sorry, that page doesn&rsquo;t exist.</h2>
    <p>Make sure you typed the URL correctly.</p>
  </article>
<% end %>

<% if @previous || @next %>
  <article>
    <% if @previous %>
      <div class="previous_post">
        <a href="/post/<%= @previous.id -%>"><i class="icon-arrow-left"></i>&nbsp;&nbsp;Previous</a>
      </div>
    <% end %>
    <% if @next %>
      <div class="next_post">
        <a href="/post/<%= @next.id -%>">Next&nbsp;&nbsp;<i class="icon-arrow-right"></i></a>
      </div>
    <% end %>
    <div class="clearfix"> </div>
  </article>
<% end %>
