<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34278795-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div id="main">
      <header>
        <h1><a href="/" id="title_link">stephan boyer</a></h1>
        <div id="nav">
          <a href="/resume">Resume</a>
          <% if params[:controller] == "home" && params[:action] == "index" && params[:tag] == "project" %>
            <a class="active" href="/projects">Projects</a>
          <% else %>
            <a href="/projects">Projects</a>
          <% end %>
          <% if params[:controller] == "home" && params[:action] == "index" && params[:tag] != "project" %>
            <a class="active" href="/">Blog</a>
          <% else %>
            <a href="/">Blog</a>
          <% end %>
          <div class="clear"> </div>
        </div>
        <div class="clear"> </div>
        <%= image_tag "banner.jpg", :id => "banner" %>
      </header>
      <% if flash[:notice] %>
        <p class="notice"><%= flash[:notice] %></p>
      <% end %>
      <% if flash[:error] %>
        <p class="error"><%= flash[:error] %></p>
      <% end %>
      <div id="content">
        <div id="left_column">
          <%= yield %>
        </div>
        <div id="right_column">
          <article>
            <h2>Recent Posts</h2>
            <div class="post_content">
              <ul>
                <% for post in @recent_posts %>
                  <li><a href="/post/<%= post.id %>"><%= post.title %></a><%= if post.is_public then "" else " (hidden)" end %></li>
                <% end %>
              </ul>
            </div>
          </article>
          <% for post in @sidebar_posts %>
            <% if post.is_public || @logged_in %>
              <%= render :partial => "post", :locals => { :post => post, :comments_mode => nil, :date_mode => :nil, :title_link => false } %>
            <% end %>
          <% end %>
        </div>
        <div class="clear"> </div>
      </div>
      <footer>
        <div id="bottom_border"> </div>
        <p>&copy; <%= Time.new.year %> Stephan Boyer&mdash;All Rights Reserved.&nbsp;&nbsp;&nbsp;&nbsp;<a href="/admin">Admin</a>.</p>
      </footer>
    </div>
    <% if Rails.env.production? %>
    <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'stephanboyer'; // required: replace example with your forum shortname

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
      </script>
    <% end %>
  </body>
</html>
