<%
  # instance variables:
  #   @tag_name       String | nil
  #   @is_root        boolean
%>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= content_for :title %></title>
    <% if (content_for :description) != "" %>
      <meta name="description" content="<%= content_for :description %>">
    <% end %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="<%= request.protocol -%>fonts.googleapis.com/css?family=Playball|Droid+Sans+Mono|Open+Sans:300,400,600" rel="stylesheet" type="text/css">
    <% if request.protocol == "https://" %>
      <script type="text/javascript" src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <% else %>
      <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <% end %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= content_for :head %>
  </head>
  <body>
    <div id="footer-fix-container">
      <div id="header">
        <div class="container">
          <div class="gutters">
            <div class="row">
              <div id="title" class="span4">
                <h1>
                  <a href="/" id="title-link">Stephan Boyer</a>
                  <%= content_for :nav %>
                  <% if is_logged_in %>
                    <%= form_tag("/logout", :method => "post") do %>
                      (<a href="/admin">admin</a>, <a href="#" onclick="$(this).parent().submit(); return false;">logout</a>)
                    <% end %>
                  <% end %>
                </h1>
              </div>
              <div id="nav" class="span8">
                <a <%= if (defined? @tag_name) && @tag_name == "home" then "class='active'".html_safe else "" end -%> href="/">Home</a><span class="hidden">
                </span><a <%= if (defined? @tag_name) && @tag_name == "theory" then "class='active'".html_safe else "" end -%> href="/theory">Theory</a><span class="hidden">
                </span><a <%= if (defined? @tag_name) && @tag_name == "projects" then "class='active'".html_safe else "" end -%> href="/projects">Projects</a><span class="hidden">
                </span><a <%= if (defined? @tag_name) && @tag_name == "music" then "class='active'".html_safe else "" end -%> href="/music">Music</a><span class="hidden">
                </span><a href="/resume">Resume</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <% if (defined? @is_root) && @is_root %>
        <div class="page-separator phone-visible"> </div>
        <div class="banner-body phone-hidden">
          <div class="container">
            <div class="gutters">
              <div class="row">
                <% for post in @banner_posts %>
                  <div class="span4">
                    <%= render :partial => "post", :locals => { :post => post, :previous_post => nil, :next_post => nil, :comments_mode => nil, :show_date => false, :title_link => false } %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <div class="page-separator"> </div>
      <% end %>

      <div class="container" id="content">
        <div class="gutters">
          <div class="row">
            <div class="span8 offset2">
              <% if flash[:notice] %>
                <div class="notice">
                  <%= flash[:notice] %>
                </div>
              <% end %>
              <% if flash[:error] %>
                <div class="error">
                  <%= flash[:error] %>
                </div>
              <% end %>
              <%= yield %>
            </div>
          </div>
        </div>
      </div>

      <div id="footer-container">
        <div class="page-separator"> </div>
        <div class="container" id="footer">
          <div class="gutters">
            <div class="p">&copy; <%= Time.new.year %> Stephan Boyer.  All rights reserved.</div>
          </div>
        </div>
      </div>
    </div>

    <% if Rails.env.production? && !is_logged_in %>
      <script type="text/javascript">
        var disqus_shortname = 'stephanboyer';
        (function () {
          var s = document.createElement('script'); s.async = true;
          s.type = 'text/javascript';
          s.src = '<%= request.protocol -%>' + disqus_shortname + '.disqus.com/count.js';
          (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
      </script>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-34278795-1']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    <% end %>
  </body>
</html>
