<%
  # instance variables:
  #   @tag_name       String | nil
  #   @is_root        boolean
%>

<!DOCTYPE html>
<html data-ng-app>
  <head>
    <meta charset="UTF-8" />
    <title><%= content_for :title %></title>
    <% if (content_for :description) != "" %>
      <meta name="description" content="<%= content_for :description %>" />
    <% end %>
    <meta property="fb:admins" content="1477269179" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="<%= request.protocol -%>fonts.googleapis.com/css?family=Lovers+Quarrel|Droid+Sans+Mono|Open+Sans:300,400,600" rel="stylesheet" type="text/css" />
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= content_for :head %>
  </head>
  <body>
    <div id="footer-fix-container">
      <div id="header">
        <div class="container">
          <div class="gutters">
            <div class="row">
              <div id="title" class="span4">
                <h1>
                  <a href="/" id="title-link">Stephan Boyer</a>
                  <%= content_for :nav %>
                </h1>
              </div>
              <div id="nav" class="span8">
                <a <%= if (defined? @tag_name) && @tag_name == "home" then "class='active'".html_safe else "" end -%> href="/"><i class="fa fa-home"></i> Home</a><span class="hidden">
                </span><a <%= if (defined? @tag_name) && @tag_name == "theory" then "class='active'".html_safe else "" end -%> href="/theory"><i class="fa fa-flask"></i> Theory</a><span class="hidden">
                </span><a <%= if (defined? @tag_name) && @tag_name == "projects" then "class='active'".html_safe else "" end -%> href="/projects"><i class="fa fa-cogs"></i> Projects</a><span class="hidden">
                </span><br class="small-phone-visible" /><a <%= if (defined? @tag_name) && @tag_name == "music" then "class='active'".html_safe else "" end -%> href="/music"><i class="fa fa-music"></i> Music</a><span class="hidden">
                </span><a href="/resume"><i class="fa fa-file"></i> Resume</a><span class="hidden">
                </span><a href="/cv"><i class="fa fa-file-text"></i> CV</a><span class="hidden">
                </span><% if is_logged_in -%><%= form_tag("/logout", :method => "post") do -%><a <%= if params[:action].to_sym == :admin then "class='active'".html_safe else "" end -%> href="/admin"><i class="fa fa-dashboard"></i> Admin</a><span class="hidden">
                </span><a href="#" onclick="$(this).parent().submit(); return false;"><i class="fa fa-sign-out"></i> Logout</a><% end -%><% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <% if (defined? @is_root) && @is_root %>
        <div class="page-separator phone-visible"> </div>
        <div class="banner-body phone-hidden">
          <div class="container">
            <div class="gutters">
              <div class="row">
                <% for post in @banner_posts %>
                  <div class="span4">
                    <%= render :partial => "post", :locals => { :post => post, :previous_post => nil, :next_post => nil, :comments_mode => nil, :show_date => false, :title_link => false, :social_media => false } %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <div class="page-separator"> </div>
      <% end %>

      <div class="container" id="content">
        <div class="gutters">
          <div class="row">
            <div class="span8 offset2">
              <% if flash[:notice] %>
                <div class="notice clearfix" data-ng-init="show_notice=true;" data-ng-show="show_notice">
                  <i class="fa fa-bell-o"></i> <%= flash[:notice].html_safe %> <div class="close-container"><a href="#" data-ng-click="show_notice=false; $event.stopPropagation(); $event.preventDefault();"><i class="fa fa-check-square-o"></i></a></div>
                </div>
              <% end %>
              <% if flash[:error] %>
                <div class="error clearfix" data-ng-init="show_error=true;" data-ng-show="show_error">
                  <i class="fa fa-exclamation-circle"></i> <%= flash[:error].html_safe %> <div class="close-container"><a href="#" data-ng-click="show_error=false; $event.stopPropagation(); $event.preventDefault();"><i class="fa fa-check-square-o"></i></a></div>
                </div>
              <% end %>
              <%= yield %>
            </div>
          </div>
        </div>
      </div>

      <div id="footer-container">
        <div class="page-separator"> </div>
        <div class="container" id="footer">
          <div class="gutters">
            <div class="p">&copy; <%= Time.new.year %> Stephan Boyer.  All rights reserved.</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Mathjax -->
    <% if request.protocol == "https://" %>
      <script type="text/javascript" src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <% else %>
      <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <% end %>

    <% if Rails.env.production? && !is_logged_in %>
      <!-- Disqus -->
      <script type="text/javascript">
        var disqus_shortname = 'stephanboyer';
        (function () {
          var s = document.createElement('script'); s.async = true;
          s.type = 'text/javascript';
          s.src = '<%= request.protocol -%>' + disqus_shortname + '.disqus.com/count.js';
          (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
      </script>

      <!-- Google Analytics -->
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-34278795-1']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>

      <!-- Facebook -->
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=332844523524227";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <!-- Twitter -->
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

      <!-- Google Plus -->
      <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    <% end %>
  </body>
</html>
