<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= content_for :title %></title>
    <% if (content_for :description) != "" %>
      <meta name="description" content="<%= content_for :description %>">
    <% end %>
    <link href="<%= request.protocol -%>fonts.googleapis.com/css?family=Oswald:400,700,300" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="<%= request.protocol -%>cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <% if Rails.env.production? %>
      <script type="text/javascript">
        var disqus_shortname = 'stephanboyer';
        (function () {
          var s = document.createElement('script'); s.async = true;
          s.type = 'text/javascript';
          s.src = '<%= request.protocol -%>' + disqus_shortname + '.disqus.com/count.js';
          (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
      </script>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-34278795-1']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    <% end %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= content_for :head %>
  </head>
  <body id="bootstrap_override">
    <header>
      <div class="container">
        <div id="header_container">
          <div class="row">
            <div class="span4">
              <h1><a href="/" id="title_link">Stephan Boyer</a> <%= content_for :nav %></h1>
            </div>
            <div class="span8">
              <div id="nav">
                <a <%= if params[:controller] == "home" && params[:action] == "index" && (!params[:tag] || params[:tag] == "home") then "class='active'".html_safe else "" end -%> href="/">Home</a><span class="hidden">
                </span><a <%= if params[:controller] == "home" && params[:action] == "index" && params[:tag] == "theory" then "class='active'".html_safe else "" end -%> href="/theory">Theory</a><span class="hidden">
                </span><a <%= if params[:controller] == "home" && params[:action] == "index" && params[:tag] == "projects" then "class='active'".html_safe else "" end -%> href="/projects">Projects</a><span class="hidden">
                </span><a <%= if params[:controller] == "home" && params[:action] == "index" && params[:tag] == "music" then "class='active'".html_safe else "" end -%> href="/music">Music</a><span class="hidden">
                </span><a href="/resume">Resume</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="container" id="content">
      <div class="row">
        <div class="span4">
          <div id="sidebar">
            <% for post in @sidebar_posts %>
              <%= render :partial => "post", :locals => { :post => post, :previous_post => nil, :next_post => nil, :comments_mode => nil, :show_tags => false, :show_date => false, :title_link => false } %>
            <% end %>
          </div>
        </div>
        <div class="span8">
          <% if flash[:notice] %>
            <div class="alert alert-block">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <%= flash[:notice] %>
            </div>
          <% end %>
          <% if flash[:error] %>
            <div class="alert alert-error">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <%= flash[:error] %>
            </div>
          <% end %>
          <div id="articles">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div id="footer_container">
        <footer>
          <p>&copy; <%= Time.new.year %> Stephan Boyer.  All rights reserved.
        </footer>
      </div>
    </div>
  </body>
</html>
