<!DOCTYPE html>
<html>
  <head>
    <title>dubstep'n</title>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <body>
    <div id="main">
      <header>
        <h1><a href="/" id="title_link">dubstep&rsquo;n</a></h1>
        <div id="nav">
          <a href="/resume">Resume</a>
          <a href="/projects">Projects</a>
          <a class="active" href="/">Blog</a>
          <div class="clear"> </div>
        </div>
        <div class="clear"> </div>
        <div id="banner_container">
          <div id="banner_label">
            <div id="banner_title">Bullet Demo // January 2012</div>
            <div id="banner_text">Demonstrating my <a href="/post/10">electric unicycle</a> for an MIT admissions video.</div>
          </div>
          <%= image_tag "banner.jpg", :id => "banner" %>
        </div>
      </header>
      <% if flash[:notice] %>
        <p class="notice"><%= flash[:notice] %></p>
      <% end %>
      <% if flash[:error] %>
        <p class="error"><%= flash[:error] %></p>
      <% end %>
      <div id="content">
        <div id="right_column">
          <article>
            <h2>About Me</h2>
            <p>I'm a computer science student at MIT, with a love for type theory and a newfound interest in declarative and functional programming. My programming experience ranges from assembly to Haskell, from microcontrollers to supercomputers. Blogging, however, is completely new to me.</p>
          </article>
          <article>
            <h2>Recent Posts</h2>
            <ul>
              <% for post in @posts.first(5) %>
                <li><a href="/post/<%= post.id %>"><%= post.title %></a></li>
              <% end %>
            </ul>
          </article>
          <article>
            <h2>Tags</h2>
            <p>
              <% for tag in @sorted_tags.last(150).shuffle %>
                <a href="/tag/<%= u tag %>" style="font-size: <%= 2.0*(Float(@tags_hash[tag])/Float(@tags_hash[@sorted_tags.last]))**0.5 %>em !important;"><%= tag %>&nbsp;&nbsp;</a>
              <% end %>
            </p>
          </article>
          <article>
            <h2>My Projects Featured On</h2>
            <ul>
              <li><a href='http://watch.discoverychannel.ca/daily-planet/february-2012/daily-planet---february-01-2012/#clip611513'>The Discovery Channel</a></li>
              <li><a href='http://alum.mit.edu/pages/sliceofmit/2012/01/11/diy-iap-build-an-electric-unicycle-or-just-watch-the-video/'>Slice of MIT</a></li>
              <li><a href='http://mitadmissions.org/blogs/entry/one-wheel-to-rule-them-all'>MIT Admissions</a></li>
              <li><a href='http://www.engadget.com/2011/12/28/mit-scholar-builds-a-self-balancing-unicycle-to-roll-fast-and-fu/'>Engadget</a></li>
              <li><a href='http://hackaday.com/2011/12/27/self-balancing-unicycle-only-for-those-with-good-balance/'>Hack A Day</a></li>
              <li><a href='http://www.csail.mit.edu/node/1657'>MIT CSAIL</a></li>
              <li><a href='http://www.huffingtonpost.co.uk/2012/01/01/mit-student-creates-almos_n_1178426.html'>The Huffington Post</a></li>
              <li><a href='http://www.coolest-gadgets.com/20111229/mit-student-develops-selfbalancing-unicycle-bullet/#more-63868'>Coolest Gadgets</a></li>
              <li><a href='http://www.ecofriend.com/classroom-innovations-balancing-unicycle-mit-student.html'>EcoFriend</a></li>
              <li><a href='http://thetechjournal.com/electronics/one-wheel-based-self-balancing-electric-unicycle-made-by-mit-student.xhtml'>TheTechJournal</a></li>
              <li><a href='http://www.physorg.com/news/2011-12-mit-student-self-balancing-electric-unicycle.html'>PhysOrg.com</a></li>
              <li><a href='http://tech.li/2011/12/mit-student-engineers-the-unicycle-you-never-knew-you-wanted/?utm_source=rss&utm_medium=rss&utm_campaign=mit-student-engineers-the-unicycle-you-never-knew-you-wanted'>tech.li</a></li>
              <li><a href='http://techmog.com/597/cheap-as-chips-homemade-self-balancing-unicycle/'>TechMog</a></li>
              <li><a href='http://news.softpedia.com/news/Homemade-Unicycle-Can-Balance-Itself-243506.shtml'>Softpedia</a></li>
              <li><a href='http://www.greenoptimistic.com/2011/12/30/the-bullet-unicycle/'>The Green Optimistic</a></li>
              <li><a href='http://newrisingmedia.com/all/2011/12/29/mit-student-builds-an-electric-self-balancing-unicycle.html'>New Rising Media</a></li>
              <li><a href='http://www.trendhunter.com/trends/bullet-unicycle'>TrendHunter</a></li>
              <li><a href='http://allbestreviews.com/?p=391'>All Best Reviews</a></li>
              <li><a href='http://www.dailymail.co.uk/sciencetech/article-2080295/MIT-student-invents-electric-unicycle-hit-15mph.html'>DailyMail</a></li>
              <li><a href='http://www.gizmowatch.com/student-builds-bullet-balancing-unicycle-quick-commute.html'>GizmoWatch</a></li>
              <li><a href='http://bostinno.com/2011/12/29/mit-student-creates-his-own-self-balancing-unicycle-dubbed-the-bullet-to-get-around-campus-image-video/'>BostInno</a></li>
              <li><a href='http://www.theregister.co.uk/2011/12/29/electric_self_balancing_unicycle/'>The Register</a></li>
              <li><a href='http://www.ubergizmo.com/2011/12/bullet-self-balancing-electric-unicycle/'>Ubergizmo</a></li>
              <li><a href='http://dvice.com/archives/2011/12/mit-student-cre.php'>DVICE</a></li>
              <li><a href='http://www.geekosystem.com/motorized-balancing-unicycle/'>Geekosystem</a></li>
              <li><a href='http://www.neatorama.com/2011/12/27/a-self-balancing-motorized-unicycle/'>Neatorama</a></li>
              <li><a href='http://timesofindia.indiatimes.com/home/science/MIT-student-invents-worlds-first-self-balancing-electric-unicycle/articleshow/11314876.cms'>The Times of India</a></li>
              <li><a href='http://www.tinhte.vn/f327/bullet-chiec-xe-mot-banh-tu-can-bang-cua-chang-sinh-vien-tre-1007500/'>Tinh Te</a></li>
              <li><a href='http://cambridgebicycle.com/2012/01/08/homebrew-segway/'>Cambridge Bicycle</a></li>
            </ul>
          </article>
        </div>
        <div id="left_column">
          <%= yield %>
        </div>
        <div class="clear"> </div>
      </div>
      <footer>
        <div id="bottom_border"> </div>
        <p>&copy; <%= Time.new.year %> Stephan Boyer &mdash; All Rights Reserved.&nbsp;&nbsp;&nbsp;&nbsp;<a href="/admin">Admin</a>.</p>
      </footer>
    </div>
  </body>
</html>
