<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <link href="<%= request.protocol -%>fonts.googleapis.com/css?family=Oswald:400,700,300" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="<%= request.protocol -%>cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <% if Rails.env.production? %>
      <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'stephanboyer'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
          var s = document.createElement('script'); s.async = true;
          s.type = 'text/javascript';
          s.src = '<%= request.protocol -%>' + disqus_shortname + '.disqus.com/count.js';
          (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
      </script>
    <% end %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34278795-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <body id="bootstrap_override">
    <header>
      <div class="container">
        <div id="header_container">
          <div class="row">
            <div class="span5">
              <h1><a href="/" id="title_link">stephan boyer</a> <%= yield :nav %></h1>
            </div>
            <div class="span7">
              <div id="nav">
                <% if params[:controller] == "home" && params[:action] == "index" && (!params[:tag] || params[:tag] == "") %><a class="active" href="/">Home</a><% else %><a href="/">Home</a><% end %><% if params[:controller] == "home" && params[:action] == "index" && params[:tag] == "theory" %><a class="active" href="/theory">Theory</a><% else %><a href="/theory">Theory</a><% end %><% if params[:controller] == "home" && params[:action] == "index" && params[:tag] == "projects" %><a class="active" href="/projects">Projects</a><% else %><a href="/projects">Projects</a><% end %><a href="/resume">Resume</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="container" id="content">
      <div class="row">
        <div class="span4">
          <div id="sidebar">
            <article>
              <h2>Recent Posts</h2>
              <ul>
                <% for post in @recent_posts %>
                  <li><a href="/post/<%= post.id %>"><%= post.title %></a><%= if post.is_public then "" else " (hidden)" end %></li>
                <% end %>
              </ul>
            </article>
            <% for post in @sidebar_posts %>
              <% if post.is_public || @logged_in %>
                <%= render :partial => "post", :locals => { :post => post, :comments_mode => nil, :date_mode => :nil, :title_link => false } %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="span8">
          <% if flash[:notice] %>
            <div class="alert alert-block">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <%= flash[:notice] %>
            </div>
          <% end %>
          <% if flash[:error] %>
            <div class="alert alert-error">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <%= flash[:error] %>
            </div>
          <% end %>
          <div id="articles">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div id="footer_container">
        <footer>
          <p>&copy; <%= Time.new.year %> Stephan Boyer&mdash;All Rights Reserved.&nbsp;&nbsp;&nbsp;&nbsp;<a href="/admin">Admin</a>.</p>
        </footer>
      </div>
    </div>
  </body>
</html>
