<!DOCTYPE html>
<html>
  <head>
    <title>Dubstep'n</title>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="main">
      <div id="nav">
        <h1>dubstep&rsquo;n</h1>
        <a href="/resume.pdf">Resume</a>
        <a href="/">Projects</a>
        <a class="active" href="/">Blog</a>
        <div class="clear"> </div>
      </div>
      <div id="top_border"> </div>
      <%= yield %>
      <div id="bottom_border"> </div>
      <div id="footer">
        &copy; <%= Time.new.year %> Stephan Boyer - All Rights Reserved.
      </div>
    </div>
  </body>
</html>
